{% extends "base.html" %}

{% block content %}

<div style="max-width: 400px; margin: 50px auto;">

    <h2>Login</h2>

    <form method="POST">

        {{ form.hidden_tag() }}

        <div>
            {{ form.email.label }}
            {{ form.email(style="width: 100%; padding: 8px;") }}

            {% for erro in form.email.errors %}
                <small style="color: red;">{{ erro }}</small>
            {% endfor %}
        </div>

        <br>

        <div>
            {{ form.senha.label }}
            {{ form.senha(style="width: 100%; padding: 8px;") }}

            {% for erro in form.senha.errors %}
                <small style="color: red;">{{ erro }}</small>
            {% endfor %}
        </div>

        <br>

        {{ form.submit(style="padding: 10px 20px;") }}

    </form>

    <p>
        Ainda não tem conta?
        <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
    </p>

</div>

{% endblock %}